.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-body {
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}

.App-header img {
  width: 200px;
  height: auto;
}
